body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.table-wrapper {
    border-radius: 15px;
    margin: 0% 5%;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: separate;
    /* border-radius: 25px; */
}

.table td,
.table th {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
}

.table th {
    /* background-color: #1c785f; */
    color: #ffffff;
}

.table thead {
    background-color: orange;
    /* background-color: #3c697a; */
    /* color: #ffffff; */
}

/* .table tbody tr:nth-child(even) {
    background-color: #d1e8f5;
} */

/* #3c697a
#3987a5
*/

.table tbody {
    background-color: #ffffa9;
}

/*responsive*/

@media (max-width: 500px) {
    .table thead {
        display: none;
    }

    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        padding-left: 50%;
        text-align: left;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}


/* ---------------------------- btn style --------------------------- */

/* CSS */
.btn {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, yellow, orange 100%);
    /* background-image: radial-gradient(100% 100% at 100% 0, #90b3c9 0, #3c697a 100%); */
    /* background-image: radial-gradient(100% 100% at 100% 0, #484c64 0, #5468ff 100%); */
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: #484c64 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #484c64 0 -3px 0 inset;
    /* box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset; */
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}